{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shop{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    >
</head>
<body class="d-flex flex-column min-vh-100">
<header>
        <!-- Top header -->
    <div class="bg-light border-bottom">
        <div class="container py-2 d-flex align-items-center justify-content-between">

           <!-- Logo -->
           <div class="d-flex align-items-center">
               <img src="{% static 'logo.png' %}"
                    alt="MyShop logo"
                    height="32"
                    class="me-2">
               <strong class="fs-4">Simple Django Shop</strong>
           </div>
           <div class="d-flex align-items-center">
              <img src="{% static 'cart-placeholder.png' %}"
                   alt="Cart and auth placeholder"
                   height="24">
           </div>

        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand d-lg-none" href="#">MyShop</a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% block navbar_items %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalog' %}">Catalog</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container my-4">
    {% block content %}
    {% endblock %}
</main>

<footer class="bg-light text-center text-muted py-3 mt-auto">
    <div class="container">
        <small>© 2025 MyShop</small>
    </div>
</footer>

<!-- Bootstrap JS -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>
